.encabezado, h2 {
    color:rgb(98, 0, 255);
}

div {
    color:rgb(218, 14, 14);
}

body {
    background-color: bisque;
}



p {
    color:rgba(0, 217, 255, 0.747);
}


table {
    border: 1px solid #000000;
    border-collapse: separate;
}
